{% extends 'base.html.twig' %}

{% block body %}

    <div class="container offset">
        <h1>TheBlog78</h1>
        <h2>Les derniers articles</h2>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
