<form action="" method="post">
    <input type="text" name="title" placeholder="Titre" {% if edit %} value="{{ article.title }}" {% endif %}>
    <textarea name="content" cols="30" rows="10">{% if edit %}{{ article.content }}{% endif %}</textarea>
    <input type="text" name="thumbnail" placeholder="Url de la miniature de votre article" {% if edit %} value="{{ article.thumbnail }}" {% endif %}>
    <button type="submit">{% if edit %} Editer {% else %} Ajouter {% endif %}</button>
</form>