{% embed 'base.html.twig' %}

    {% block body %}

        <h1>Affichage des articles</h1>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    {% endblock %}

{% endembed %}