{% embed 'base.html.twig' %}

    {% block body %}

        {% if articles|length > 0 %}
            <h1>Affichage de tous les articles</h1>
            {% embed '_partials/_list_article.html.twig' with {'articles': articles} %}{% endembed %}
        {% else %}
            <h1>Il n y a actuellement aucun article pour le moment</h1>
        {% endif %}
    {% endblock %}

{% endembed %}