{% embed 'base.html.twig' %}

    {% block body %}

        <h1>Affichage de tous les articles</h1>
        {% for article in articles  %}

            <h2><a href="{{ path('article_show', {'day': article.createdAt | date('d'), 'month': article.createdAt | date('m'), 'slug': article.slug, 'year': article.createdAt | date('Y')}) }}">{{ article.title }}</a></h2>
            <p>{{ article.content }}</p>
            <p>{{ article.createdAt|date('m/d/Y, à H:i:s') }}</p>

        {% endfor %}
    {% endblock %}

{% endembed %}